/* add your CSS here */
.minirex {
	width: 320px;
  	margin-bottom: 10px;
}

.funfact {
	font-style: italic;
}

.factitem {
	font-weight: bold;
}

.container {
	width: 320px;
  	border: 1px solid black;
  	padding: 20px;
  	box-shadow: 7px 7px #6A4885;
  	background-color: #5379C0;
  	border-radius: 10px;
}

ul {
	padding-left: 0;
  	list-style: none;
}

.buninfo {
	border: 1px solid black;
  	padding: 0px 15px;
  	background-color: #B38DD1;
}

